*{
    margin: 0px;
    font-family: "Inter";
    background-color: #303030;
}

#secao-menu-superior{
    background-color: #303030;
}

#titulo-menu-superior{
    margin-left: 62px;
    margin-top:206px;
    font-size: 60px;
    color: #FFFFFF;
    background-color: #303030;
    
}

#subtitulo-menu-superior{
    margin-left: 62px;
    margin-top: 28px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #303030;
    padding-bottom: 177px ;
}

#numeros-empresa{
    background-color: #fffffff7;
}

#secao-informacional{
    background-color: #FFFFFF;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulo-secao-informacional{
    margin-left: 77px;
    margin-top: 285px;
    font-size: 24px;
    background-color: #FFFFFF;
    margin-bottom: 638px;
}


#imagem-menu-informacional{
    margin-left: 250px;
    margin-right: 30px;
    margin-top: 60px;
}

#formulario{
    background: color #303030;
    text-align: center;
}

#titulo-formulario{
    text-align: center;
    font-size: 32px;
    margin-top: 48px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

input{
    Width:508px;
    Height: 72px;
    color:black;
    border-radius: 10px;
    margin: 15PX 15px 15px 0px;
    border: 0px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

button{
    color: white;
    Width: 286px;
    Height: 74px;
    background-color: #C07212;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font: Raleway;
}

button:hover{
    background-color: #34a2d1;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px  #3860e18f;
    transition-duration: 0.5;

}
